@{
    ViewData["Title"] = "Callback";
}
<h1>@ViewData["Callback"]</h1>

<p>Logged in as: @ViewBag.UserName</p>

@* @foreach(var playlist in ViewBag.Playlists)
{
    <div class="row">
        @playlist
    </div>
} *@
